body {
  margin: 0;
  /* overflow: hidden; */
  background-color: lightblue;
  font-family: Arial, sans-serif;
}

h1 {
  font-size: 16px;
}

p {
  font-size: 14px;
}

.Container {
  /* width: 100vw;
  height: 100vh; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.Card-Container {
  background-color: lightskyblue;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  /* width: 85vw; */
  /* height: 85vh; */
  margin: 2%;
}

.Card {
  border-radius: 15px;
  background-color: whitesmoke;
  width: 30%;
  height: auto;
  text-align: center;
  padding: 20px;
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.Images {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.qr-code {
  width: 100%;
  height: auto;
  max-width: 150px;
  max-height: 150px;
}
